In [2]:
import pandas as pd

In [3]:
X_train = pd.read_csv('train_ex1data1.csv')

In [4]:
X_train

    Num_Hab_Ciudad(Miles)
0                  6.1101
1                  5.5277
2                  8.5186
3                  7.0032
4                  5.8598
5                  8.3829
6                  5.7107
7                  5.7340
8                  8.4084
9                  5.6407
10                 6.3654
11                 5.1301
12                 6.1891
13                 6.3261
14                 5.5649
15                18.9450
16                12.8280
17                10.9570
18                22.2030
19                 5.2524
20                 6.5894
21                 5.8918
22                 8.2111
23                 7.9334
24                 8.0959
25                 5.6063
26                12.8360
27                 6.3534
28                 5.4069
29                 6.8825
..                    ...
38                 6.3589
39                 6.2742
40                 5.6397
41                 9.4536
42                 5.1793
43                21.2790
44                14.9080
45                18.9590
46                 7.2182
47                 8.2951
48                10.2360
49                 5.4994
50                 7.3345
51                 6.0062
52                 7.2259
53                 7.5386
54                10.2740
55                 5.1077
56                 5.1884
57                 6.3557
58                 6.5159
59                 8.5172
60                 9.1802
61                 6.0020
62                 5.5204
63                 5.0594
64                 5.7077
65                 7.6366
66                 5.3054
67                 8.2934

[68 rows x 1 columns]

In [5]:
print('Hola chepo')

Hola chepo

In [6]:
X_test = pd.read_csv('test_ex1data1.csv')

In [7]:
Y_train = pd.read_csv('y_train_ex1data1.csv')

In [8]:
Y_test = pd.read_csv('y_test_ex1data1.csv')

In [9]:
print(type(X_test))

<class 'pandas.core.frame.DataFrame'>

In [10]:
X_train = X_train.iloc[:,:]
Y_train = Y_train.iloc[:,0]
X_test = X_test.iloc[:,:]
Y_test = Y_test.iloc[:,0]

In [11]:
X_train.shape()

TypeError: 'tuple' object is not callable

In [12]:
X_train.shape

(68, 1)

In [13]:
np.ones(68)

NameError: name 'np' is not defined

In [14]:
import numpy as np

In [15]:
np.one(68)

AttributeError: module 'numpy' has no attribute 'one'

In [16]:
np.ones(68)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [17]:
np.ones(2,3)

TypeError: data type not understood

In [18]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [19]:
X_train

    Num_Hab_Ciudad(Miles)
0                  6.1101
1                  5.5277
2                  8.5186
3                  7.0032
4                  5.8598
5                  8.3829
6                  5.7107
7                  5.7340
8                  8.4084
9                  5.6407
10                 6.3654
11                 5.1301
12                 6.1891
13                 6.3261
14                 5.5649
15                18.9450
16                12.8280
17                10.9570
18                22.2030
19                 5.2524
20                 6.5894
21                 5.8918
22                 8.2111
23                 7.9334
24                 8.0959
25                 5.6063
26                12.8360
27                 6.3534
28                 5.4069
29                 6.8825
..                    ...
38                 6.3589
39                 6.2742
40                 5.6397
41                 9.4536
42                 5.1793
43                21.2790
44                14.9080
45                18.9590
46                 7.2182
47                 8.2951
48                10.2360
49                 5.4994
50                 7.3345
51                 6.0062
52                 7.2259
53                 7.5386
54                10.2740
55                 5.1077
56                 5.1884
57                 6.3557
58                 6.5159
59                 8.5172
60                 9.1802
61                 6.0020
62                 5.5204
63                 5.0594
64                 5.7077
65                 7.6366
66                 5.3054
67                 8.2934

[68 rows x 1 columns]

In [27]:
tmp_x_train = np.append(np.ones([X_train.shape[0],1]), X_train, axis=1)

In [28]:
tmp_x_train

array([[ 1.    ,  6.1101],
       [ 1.    ,  5.5277],
       [ 1.    ,  8.5186],
       [ 1.    ,  7.0032],
       [ 1.    ,  5.8598],
       [ 1.    ,  8.3829],
       [ 1.    ,  5.7107],
       [ 1.    ,  5.734 ],
       [ 1.    ,  8.4084],
       [ 1.    ,  5.6407],
       [ 1.    ,  6.3654],
       [ 1.    ,  5.1301],
       [ 1.    ,  6.1891],
       [ 1.    ,  6.3261],
       [ 1.    ,  5.5649],
       [ 1.    , 18.945 ],
       [ 1.    , 12.828 ],
       [ 1.    , 10.957 ],
       [ 1.    , 22.203 ],
       [ 1.    ,  5.2524],
       [ 1.    ,  6.5894],
       [ 1.    ,  5.8918],
       [ 1.    ,  8.2111],
       [ 1.    ,  7.9334],
       [ 1.    ,  8.0959],
       [ 1.    ,  5.6063],
       [ 1.    , 12.836 ],
       [ 1.    ,  6.3534],
       [ 1.    ,  5.4069],
       [ 1.    ,  6.8825],
       [ 1.    ,  5.7737],
       [ 1.    ,  7.0931],
       [ 1.    ,  5.8014],
       [ 1.    , 11.7   ],
       [ 1.    ,  5.5416],
       [ 1.    ,  5.3077],
       [ 1.    ,  7.4239],
       [ 1.    ,  6.3328],
       [ 1.    ,  6.3589],
       [ 1.    ,  6.2742],
       [ 1.    ,  5.6397],
       [ 1.    ,  9.4536],
       [ 1.    ,  5.1793],
       [ 1.    , 21.279 ],
       [ 1.    , 14.908 ],
       [ 1.    , 18.959 ],
       [ 1.    ,  7.2182],
       [ 1.    ,  8.2951],
       [ 1.    , 10.236 ],
       [ 1.    ,  5.4994],
       [ 1.    ,  7.3345],
       [ 1.    ,  6.0062],
       [ 1.    ,  7.2259],
       [ 1.    ,  7.5386],
       [ 1.    , 10.274 ],
       [ 1.    ,  5.1077],
       [ 1.    ,  5.1884],
       [ 1.    ,  6.3557],
       [ 1.    ,  6.5159],
       [ 1.    ,  8.5172],
       [ 1.    ,  9.1802],
       [ 1.    ,  6.002 ],
       [ 1.    ,  5.5204],
       [ 1.    ,  5.0594],
       [ 1.    ,  5.7077],
       [ 1.    ,  7.6366],
       [ 1.    ,  5.3054],
       [ 1.    ,  8.2934]])

In [29]:
X_train = tmp_x_train

In [30]:
X_train

array([[ 1.    ,  6.1101],
       [ 1.    ,  5.5277],
       [ 1.    ,  8.5186],
       [ 1.    ,  7.0032],
       [ 1.    ,  5.8598],
       [ 1.    ,  8.3829],
       [ 1.    ,  5.7107],
       [ 1.    ,  5.734 ],
       [ 1.    ,  8.4084],
       [ 1.    ,  5.6407],
       [ 1.    ,  6.3654],
       [ 1.    ,  5.1301],
       [ 1.    ,  6.1891],
       [ 1.    ,  6.3261],
       [ 1.    ,  5.5649],
       [ 1.    , 18.945 ],
       [ 1.    , 12.828 ],
       [ 1.    , 10.957 ],
       [ 1.    , 22.203 ],
       [ 1.    ,  5.2524],
       [ 1.    ,  6.5894],
       [ 1.    ,  5.8918],
       [ 1.    ,  8.2111],
       [ 1.    ,  7.9334],
       [ 1.    ,  8.0959],
       [ 1.    ,  5.6063],
       [ 1.    , 12.836 ],
       [ 1.    ,  6.3534],
       [ 1.    ,  5.4069],
       [ 1.    ,  6.8825],
       [ 1.    ,  5.7737],
       [ 1.    ,  7.0931],
       [ 1.    ,  5.8014],
       [ 1.    , 11.7   ],
       [ 1.    ,  5.5416],
       [ 1.    ,  5.3077],
       [ 1.    ,  7.4239],
       [ 1.    ,  6.3328],
       [ 1.    ,  6.3589],
       [ 1.    ,  6.2742],
       [ 1.    ,  5.6397],
       [ 1.    ,  9.4536],
       [ 1.    ,  5.1793],
       [ 1.    , 21.279 ],
       [ 1.    , 14.908 ],
       [ 1.    , 18.959 ],
       [ 1.    ,  7.2182],
       [ 1.    ,  8.2951],
       [ 1.    , 10.236 ],
       [ 1.    ,  5.4994],
       [ 1.    ,  7.3345],
       [ 1.    ,  6.0062],
       [ 1.    ,  7.2259],
       [ 1.    ,  7.5386],
       [ 1.    , 10.274 ],
       [ 1.    ,  5.1077],
       [ 1.    ,  5.1884],
       [ 1.    ,  6.3557],
       [ 1.    ,  6.5159],
       [ 1.    ,  8.5172],
       [ 1.    ,  9.1802],
       [ 1.    ,  6.002 ],
       [ 1.    ,  5.5204],
       [ 1.    ,  5.0594],
       [ 1.    ,  5.7077],
       [ 1.    ,  7.6366],
       [ 1.    ,  5.3054],
       [ 1.    ,  8.2934]])

In [32]:
X_test =np.append(np.ones([X_test.shape[0],1]), X_test, axis=1)
X_test.shape
X_train.shape

(68, 2)

In [33]:
X_test.shape

(29, 3)